{{ define "main" }}
  <div class='w-full h-full flex p-4'>
    <main class="flex flex-col md:space-x-4 md:flex-row w-3/4">
      {{ if (eq .Page.Params.tableOfContents true) }}
        <div class="py-5 md:py-0 lg:pb-5 text-gray-400 p-4 space-y-2">
          <strong class="block text-lg pb-2 border-b">On this page</strong>
          {{ .TableOfContents }}
        </div>
      {{ end }}
      <div class="flex flex-col flex-1">
        <span class="text-2xl font-bold pb-2">{{ .Title | markdownify }}</span>
        <p class="text-xl font-light">{{ .Page.Params.Description | markdownify }}</p>
        {{ .Content }}
      </div>
    </main>
    <aside class="lg:right-0 sticky top-nav-2 w-1/4 h-min flex flex-col bg-gray-50 rounded shadow border border-gray-200">
      {{ partial "docs-nav" . }}
    </aside>
  </div>
{{ end }}
{{ define "footer" }}
{{ end }}