<div class='w-full bg-gray-100 p-6'>
  <div class='flex items-center justify-between max-w-screen-xl mx-auto space-x-8'>
    {{ partial "logo" . }}
    <span>Code licensed <a class="font-semibold no-underline hover:underline hover:text-blue-500" href='https://github.com/caseywebdev/pave/blob/main/LICENSE.txt'>MIT</a>, docs <a class="font-semibold no-underline hover:underline hover:text-blue-500" href='https://creativecommons.org/licenses/by/4.0/'>CC BY 4.0</a>.</span>
  </div>
</div>

{{ partial "scripts" . }}