<div class='fixed top-0 w-full bg-gray-100 shadow'>
    <div class='flex items-center max-w-screen-xl mx-auto space-x-8 px-6'>
      {{ partial "logo" . }}
      <div class='flex-1 md:flex hidden'>
        <a class='uppercase text-gray-600 font-semibold text-sm cursor-pointer hover:text-gray-500 hover:bg-gray-200 p-6' href='/docs'>Documentation</a>
      </div>
      <div class='md:flex hidden'>
        <a class='uppercase text-gray-600 font-semibold text-sm cursor-pointer hover:text-gray-500 hover:bg-gray-200 p-6' href='https://www.codepen.com/'>
          Sandbox
        </a>
        <a class='uppercase text-gray-600 font-semibold text-sm cursor-pointer hover:text-gray-500 hover:bg-gray-200 p-6' href='https://www.npmjs.com/package/pave'>
          npm
        </a>
        <a class='uppercase text-gray-600 font-semibold text-sm cursor-pointer hover:text-gray-500 hover:bg-gray-200 p-6' href='https://www.github.com/caseywebdev/pave'>
          github
        </a>
      </div>
    </div>
  </div>