<div class="flex flex-1 py-16 md:flex-row leading-loose flex-col p-4 md:space-x-4 space-y-4 md:space-y-0">
    <div class="flex items-center justify-center">
        <img src='/svgs/gear.svg' class="mx-auto md:mx-0 md:ml-auto transition-all h-16 w-16 transform" />
    </div>
    <div class="flex-1 px-8 flex flex-col space-y-4 md:items-start md:text-left">
        <span class="text-xl font-semibold">Versatile</span>
        <span class="w-1/2">One of the largest strengths of Pave is its very limited cord library. Inspired by the likes of Node and others, Pave provides only what you need, and leaves implementation and other decisions up to you, allowing for a lightweight package, and infinite customization.</span>
    </div>
</div>