<div class="flex flex-1 pt-12 leading-loose md:flex-row-reverse flex-col p-4 md:space-x-4 space-y-4 md:space-y-0">
    <div class="flex items-center justify-center">
        <img src='/svgs/braces.svg' class="mx-auto md:mx-0 md:mr-auto transition-all h-16 w-16 transform" />
    </div>
    <div class="flex-1 px-8 flex flex-col space-y-4 items-center text-center md:items-end md:text-right">
        <span class="text-xl font-semibold">POJO</span>
        <span class="w-1/2">All data is represented as JSON-friendly Plain Ol' JavaScript Objects so there is no need to worry about how to serialize X and how to deserialize Y. There are no classes in Pave.</span>
    </div>
</div>